<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dasse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dasse"
        android:label="D'ASSE"
        android:roundIcon="@mipmap/ic_launcher_dasse_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.dasse.SignupActivity"></activity>
        <activity android:name="com.example.dasse.FoodinfoActivity"></activity>
        <activity android:name="com.example.dasse.FoodinfoBarcodeActivity"></activity>
        <activity android:name="com.example.dasse.FoodinfoUsedActivity"></activity>
        <activity android:name="com.example.dasse.MainActivity"></activity>
        <activity android:name="com.example.dasse.forFoodlistActivity"></activity>
        <activity android:name="com.example.dasse.forCafelistActivity"></activity>
        <activity android:name="com.example.dasse.forBeerlistActivity"></activity>
        <activity android:name="com.example.dasse.forPlaylistActivity"></activity>
        <activity android:name="com.example.dasse.forStudylistActivity"></activity>
        <activity android:name="com.example.dasse.forGuiterlistActivity"></activity>
        <activity android:name="com.example.dasse.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>